body {
  width: 100vw;
  height:100vh;
  overflow: auto;
  margin:0px;
  padding:0px;
}

div#progressOuter {
  width: 90%;
  margin:0px auto;
  transform:translateY(-50%);
  position:relative;
  top:50%;
  height: 150px;
  background-color: #eee;
}

div#progressInner {
  --system-red: #ee0000;
  --system-blue:#0a84ff;
  height:100%;
  width: 0%;
  background-color: var(--system-blue);
  transition:width 500ms bounce-in;
}