body {
  width: 100vw;
  height:100vh;
  overflow: auto;
  margin:0px;
  padding:0px;
}

div#progressOuter {
  width: 90%;
  margin:0px auto;
  transform:translateY(-50%);
  position:relative;
  top:50%;
  height: 80px;
  font-size: 80px;
  font-family: "GillSans";
  background-color: #eee;
}

div#progressInner {
  --system-red: #ee0000;
  --system-blue:#0a84ff;
  height:100%;
  width: 0%;
  background-color: var(--system-blue);
  transition:width 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@font-face {
    font-family: GillSans;
    font-weight: bold;
    src: url("https://cdn.glitch.global/994c2bd5-1923-49dd-a626-a1884296c61d/Gill%20Sans.otf?v=1711738555310") format("opentype");
}